body {
    font-family: 'Segoe UI', Times New Roman, Georgia, Arial, sans-serif;
    line-height: 2px;
    margin: 20px; 
}

h1, h2 {
    color: black;
}

.highlight-text {
    color: aquablue;
    font-weight: bold;
}
